/* universal selectors */
* {
    background-color: #fff1e6;
}

/* elemental selectors */

header {
    display: flex;
    background-color: #f0efeb;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    
}

header h1 {
    background-color: #f0efeb;
}

nav {
    display: flex;
    background-color: #f0efeb;
    
    
}

footer {
    display: flex;
    align-items: center;
    
    
}

main {
    display: flex;
    flex-direction: column;
}

/* class selectors */
.nav-links {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    border-radius: 25px;
    padding-bottom: 20px;
    margin-left: 15px;
    height: 0px;
    background-color: #fff1e6;
    
}

.footer-links {
    background-color: #edede8;
}




/* ID selectors */

#sunrise {
    height: 300px;
    width: auto;
    background: url("../images/sunset.jpg");
    background-size: cover;
    background-position: 0% 100%;
}


#container-1 {
    display: flex;
    flex-direction: row;
}

#container-1 h1 {
    border-right: 2px solid black;
    flex: 0 0 20%;
    text-align: center;
}

#container-1 p {
    flex: 0 0 75%;
    margin-left: 10px;
}

#container-2 {
    display: flex;
    flex-direction: row;
}

#container-2 h1 {
    border-right: 2px solid black;
    flex: 0 0 20%;
    text-align: center;
}

/* change later!!!!!!! */
#container-2 p { 
    flex: 0 0 75%;
    margin-left: 10px;
}

#container-3 {
    display: flex;
    flex-direction: row;
    
}

#container-3 h1 {
    border-right: 2px solid black;
    flex: 0 0 20%;
    text-align: center;
}

#container-3 footer {
    flex: 0 0 75%;
    margin-left: 10px;
    justify-content: space-around;
    background-color: #edede8;
}

