/* universal selectors */
* {
    font-family: Helvetica;
}

/* elemental selectors */

header {
    display: flex;
    background-color: #7395ae;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    
}

header h1 {
    background-color: #7395ae;
    color: #ffffff;
    font-size: 33px;
}

nav {
    display: flex;
    background-color: #7395ae;
    
    
    
}

        


main {
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
    
}

/* class selectors */

.background-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* main header background */
.hero {
    height: 100%;
    width: 100%;
    background: url("../images/redox_01_@2X.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-links {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px 20px 10px 20px;
    /* border: 2px solid black; */
    box-shadow: 3px 2px black;
    border-radius: 25px;
    padding-bottom: 20px;
    margin-left: 15px;
    height: 0px;
    background-color: #ffffff;
    font-size: 16px;
    align-content: center;
    
    
    
}

.img-containers {
    display: flex;
    margin: 5px;
    height: auto;
    width: auto;
    position: relative;
    
}



/* ID selectors */

/* this is the header image */
#tech {
    height: 300px;
    width: auto;
    background: url("../images/tech.png");
    background-size: cover;
    background-position: 0% 100%;
}


#container-1 {
    display: flex;
    flex-direction: row;
    
}

#container-1 h1 {
    border-right: 2px solid black;
    flex: 0 0 20%;
    text-align: center;
    font-size: 30px;
   
}

#container-1 p {
    flex: 0 0 35%;
    margin-left: 70px;
    font-size: 17px;
    
   
}

#container-1 img {
    height: 180px;
    width: 180px;
}

#profile {
    flex: 0 0 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

#container-2 {
    display: flex;
    flex-direction: row-reverse;
    background: url("../images/redox_01_@2X.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

#container-2 h1 {
    border-left: 2px solid black;
    flex: 0 0 20%;
    text-align: center;
    font-size: 30px;
}


#container-2 img { 
    flex: .5 1 33%;
    height: 300px;
    margin: 20px;
    border: 3.5px outset rgb(42, 57, 90);
    box-shadow: 1px 1px black;
    
    
}

#work-box {
    flex: 0 0 80%;
    display: flex;
    flex-flow: row wrap-reverse; 
    justify-content: center;
    background: url("../images/redox_01_@2X.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* -------------------------------------- */





#title-box {
    background-color: rgb(153, 67, 67);
    color: white;
    position: absolute;
    height: 35px;
    width: 163px;
    top: 285px;
    left: 23px;
    text-align: center;
    font-size: 16px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-top-right-radius: 40px;
}



  /* ----------------------------------- */

#container-3 {
    display: flex;
    flex-direction: row;
    background: url("../images/redox_01_@2X.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

#container-3 h1 {
    border-right: 2px solid black;
    flex: 0 0 20%;
    text-align: center;
    font-size: 24px;
}

#container-3 footer {
    flex: 0 0 79%;
    margin-left: 10px;
    justify-content: space-around;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-top: 2px solid black;
}

#container-3 a {
    background-color: #edede8;
}
